# AWS Configuration
AWS_REGION=ap-southeast-2
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here

# Athena Configuration
ATHENA_DATABASE=doger
ATHENA_OUTPUT_LOCATION=s3://aws-athena-query-results-522980072010-ap-southeast-2/

# S3 Configuration
S3_BUCKET=your-bucket-name

# Scheduling
DAILY_RUN_TIME=02:00
